
*{
    margin: 0;
    padding: 0;
}

body{
    margin-top: 100px;
    background-color: black;
    color: greenyellow;
    text-align: center;

}
.container{
    margin-top: 100px;
    background-color: black;
    color: white;
}